<html>
  <head>
    <title>Onnie's Habits</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/current_projects_styles.css" rel = "stylesheet">
  </head>
  <body>


      {% include 'navbar/nav.html' %}

    <div class = "container" id = "mainContainer">
      <div class = "row row-centered" id = "mainRow">
        <div class = "col-xl-5 col-lg-5 col-md-5 col-sm-5 col-sm-offset-1 col-centered mainBody" id="projects">


        <h1>Active projects</h1>
          {% if projects is not empty %}
          <ul>
              {% for project in projects %}
              <li><a href="/project/projects/{{ project.getId }}">{{ project.getName }}</a></li>
          </ul>
          {% endfor %}

          {% else %}
          <p>No projects currently entered.</p>
          <p><a href="/project/new_project">Click here to add a new project.</a></p>
          {% endif %}

        </div>
      </div>
    </div>



  </body>
</html>
