<html>
    <head>
        <title>Onnie's Journal</title>
    </head>

    <body>
        <h1>{{ journal.getDate }}</h1>

        {{ journal.getContent }}


        <form action='/journal/entries/{{ journal.getId }}' method='post'>
              <input name="_method" type="hidden" value="patch">

              <label for="content">Add more to this entry</label>
              <input id="content" name="content" type="text">

              <button type='submit'>Submit</button>
        </form>

    </body>
</html>
