<!-- Header twig template -->

{% set vars = {
  'page_title': 'Edit Journal Entry',
  'css_url': '/css/new_journal_entry.css'
}

%}
{% include 'partials/header.html.twig' with vars %}
    <body>
        {% include 'partials/nav.html' %}
        <h1>{{ journal.getDate }}</h1>

        {{ journal.getContent }}


        <form action='/journal/entries/{{ journal.getId }}' method='post'>
              <input name="_method" type="hidden" value="patch">

              <label for="content">Add more to this entry</label>
              <input id="content" name="content" type="text">

              <button type='submit'>Submit</button>
        </form>

    </body>
</html>
