<html>
    <head>
        <title>Life Coach</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/dashboard_styles.css" rel = "stylesheet">
    </head>
    <body>
        {% include 'navbar/nav.html' %}

    {% for entry in entries %}
        <li><a href="/journal/entries/{{ entry.getId }}">{{ entry.getDate }}</a></li>

    {% endfor %}

  </body>
</html>
