<html>
    <head>
        <title>Onnie's Journal</title>
    </head>

    <body>
        <h1>{{ date }}</h1>

  
        <form action='/journal/save_journal_entry' method='post'>
              <label for = 'entry'>Today's entry</label>
              <input id = 'entry' name='entry' type='text'>

              <button type='submit'>Submit</button>
          </form>

    </body>
</html>
