<!-- Header twig template -->

{% set vars = {
  'page_title': 'New Journal Entry',
  'css_url': '/css/new_journal_entry.css'
}

%}
{% include 'partials/header.html.twig' with vars %}

    <body>
        <!-- Navbar twig template -->

        {% set active_page = '/journal/new_journal_entry' %}
        {% include 'partials/nav.html' %}

        <h1>{{ date }}</h1>

        {% if existing_entry is not empty %}
            {{ existing_entry }}
        {% endif %}


        <form action='/save_journal_entry' method='post'>
              <label for = 'entry'>Today's entry</label>
              <input id = 'entry' name='entry' type='text'>

              <button type='submit'>Submit</button>
          </form>

    </body>
</html>
