

/* Medium Devices 768px and up */
@media (min-width: 768px) {
  #habits {
    margin: 0 2% 0 2%;
  }

}

.navbar .navbar-brand {
  margin-left: 10%;
  display: inline-block;
}

.navbar {
  background: #1FB6FF;


}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>.active>a {
  color: white;
  background-color: #0088c9;
}
