<div>
    <p><strong>Habit Name:</strong> {{ habit.getName }}</p>
    {% if habit.getMotivation != null %}
        <p><strong>Project Motivation:</strong> {{ habit.getMotivation }}</p>
    {% endif %}


</div>
