<!-- start project progress bar -->
<div class="container">
    <h2>Progress on {{ project.getName }} so far:</h2>
        <div class="progress">
            {# probably not the fastest way to do this but it works #}
            {# commented out for now #}
            {# {% set progress_percent = (((project.getSteps|length - project.getUnfinishedSteps|length) / project.getSteps|length) * 100) %} #}

            {% set progress_percent = (((9 -3) / 10) * 100) %}
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress_percent }}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress_percent}}%">
                {{ progress_percent }}%
            </div>
        </div>
</div>
<!-- end project progress bar-->
