<html>
  <head>
    <title></title>
  </head>
  <body>
    {% include 'coach/partials/habit_display.html.twig' %}

    finished habit

  <a href="/habit/current_habits">back to habit list</a> 
  </body>
</html>
