<html>
  <head>
    <title></title>
  </head>
  <body>

    <h1>Great Job!</h1>
    <p>Here are the number of days you have completed your habit: {{ days }}</p>

    <a href="/habit/current_habits">Go back to your active habits</a> 


  </body>
</html>
