<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Hey, Asshole!</h1>
    <p>Remember why you want to add this habit?</p>
    <br>
    <p>{{ motivation }}</p>
    <br>
    <p>You've only done this for {{ days }} days</p> 
    <h3>Go do it right now!</h3>
  <a href="/habit/current_habits">go back to current habits</a>
  </body>
</html>
