<html>
    <head>
        <title>Name</title>
    </head>
    <body>
        <p>Can you think of a good name for this new project?</p>

        {% set vars = {
            'form_url': '/coach/new_project/motivation',
            'input_value': 'name',
            'label_text': 'Name'
            }
        %}
        {% include 'coach/partials/simple_qa_form.html.twig' with vars %}

        ((name form)) post to /motivation
    </body>
</html>
