<html>
    <head>
        <title>Motivation</title>
    </head>
    <body>
        What inspires you to pursue this project? Try to answer this in a sentence or two.


        {# this syntax around project.getId is string interpolation in Twig #}
        {% set vars = {
            'form_url': "/coach/new_project/#{ project.getId }/prereqs",
            'input_value': 'motivation',
            'label_text': 'Motivation'
            }
        %}
        {% include 'coach/partials/simple_qa_form.html.twig' with vars %}

        ((include project so far template display))

        ((motivation form)) post to /{id}/prereqs
    </body>
</html>
