<html>
    <head>
        <title>Motivation</title>
    </head>
    <body>
        What inspires you to pursue this project? Try to answer this in a sentence or two.

        <form action="/coach/new_project/{{ project.getId }}" method="post">
            <label for="motivation">Motivation</label>
            <input type="text" name="motivation">
            <button type="submit">Submit</button>
        </form>


        {% include 'coach/partials/project_display.html.twig' %}
    </body>
</html>
