<!-- Header twig template -->

{% set vars = {
  'page_title': 'New Project',
  'css_url': '/css/new_project.css'
}

%}

{% include 'partials/header.html.twig' with vars %}


    <body>

        <!-- Nabar twig template -->

        {% set active_page = '/coach/current_projects' %}
        {% include 'partials/nav.html' %}
        Take a look at what you came up with. Here's your dump:<br>
        {{ dump }}<br><br>

        {% if project.getSteps|length == 0 %}
            Looking at your dump, what do you think is the most basic step possible you could start this project with?
        {% else %}
            What is the next smallest step that needs to be done?
        {% endif %}


        {% include 'coach/partials/project_display.html.twig' %}

        <form action="/coach/new_project/{{ project.getId }}/step" method="post">
            <!-- pass dump in hidden post so user can continue to reference it-->
            <input type="hidden" name="dump" value="{{dump}}">
            <label for="step_description">Step description</label>
            <input type="text" name="step_description">
            <button type="submit">Submit</button>
        </form>

        <a href="/coach/new_project/{{ project.getId }}/due_date">That's enough steps.</a><br><br>

    </body>
</html>
