<html>
    <head>
        <title>Edit/Update Your New Project</title>
    </head>
    <body>
        Great work so far. Take a look at the preview of your project and see if there's anything you'd like to change.

        ((maybe use a version of this form you made elsewhere))
        ((edit project form)) post to /{id}/finished

    </body>
</html>
