<!-- Header twig template -->

{% set vars = {
  'page_title': 'New Project',
  'css_url': '/css/new_project.css'
}

%}

{% include 'partials/header.html.twig' with vars %}


    <body>

      <!-- Nabar twig template -->

      {% set active_page = '/coach/current_projects' %}
      {% include 'partials/nav.html' %}

      <div class = "container" id = "mainContainer">

        <div class = "row row-centered" id = "mainRow">

          <div class = "col-xl-8 col-lg-8 col-md-11 col-sm-12 col-sm-offset-1 col-centered mainBody">


                <h1>Nice job! Here's your project:</h1>

          </div>
        </div>
        <div class = "row row-centered" id = "middleRow">
          <div class = "col-xl-5 col-lg-5 col-md-5 col-sm-5 col-sm-offset-1 col-centered mainBody" id="habits">
          {% include 'coach/partials/project_display.html.twig' %}
          </div>
        </div

        <br>
        <div class = "row row-centered" id = "buttonRow">
          <div class = "col-xl-5 col-lg-5 col-md-5 col-sm-5 col-sm-offset-1 col-centered mainBody" id="habits">
            <form action='/project/current_projects'>

                  <button class = "btn btn-primary" type='submit'>Project Home</button>

            </form>

            <form action='/dashboard'>

                  <button class = "btn btn-default" type='submit'>Your Dashboard</button>

            </form>
          </div>
        </div>
      </div>
    </body>
</html>
