<html>
    <head>
        <title>Finished</title>
    </head>
    <body>
        Nice job!

        Here's your project:
        {% include 'coach/partials/project_display.html.twig' %}
    </body>
</html>
