<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <title>{{ project.getName }}: Re-order steps</title>
        <script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>

    </head>
    <body>
        <div class="container">
            <p>
                You should prolly try reordering the steps cuz it was too daunting.
            </p>




            <!-- List with handle -->
            {# populate list with steps from current project #}
                {% if steps is not empty %}
                    <div id="listWithHandle" class="list-group">
                        {% for step in steps %}
                            <div class="list-group-item" data-id="{{ step.getPosition }}">
                                <span class="drag-handle">&#9776;</span>
                              {{ step.getDescription }}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <span>No steps whadda hell??</span>
                {% endif %}
            {# end populate list #}








          <!-- form to send updated step order info-->
          <!-- <form action="/coach/active_project/{{ project.getId }}/reorder_steps" method="post">

          </form> -->
          <!-- end form to send updated step order info-->

          <span id="printSpan">stuff here</span>

        <script>
            var printSpan = document.getElementById('printSpan');
            var list_order = new Array();
            var new_orders = new Array();

            // List with handle
            var sort = Sortable.create(listWithHandle, {
                handle: '.drag-handle',
                animation: 150,
                dataIdAttr: 'data-id',
                group: "localStorage-example",
                store: {
                    /**
                     * Get the order of elements. Called once during initialization.
                     * @param   {Sortable}  sortable
                     * @returns {Array}
                     */
                    get: function (sortable) {
                        var order = localStorage.getItem(sortable.options.group);
                        return order ? order.split('|') : [];
                    },

                    /**
                     * Save the order of elements. Called onEnd (when the item is dropped).
                     * @param {Sortable}  sortable
                     */
                    set: function (sortable) {
                        var order = sortable.toArray();
                        localStorage.setItem(sortable.options.group, order.join('|'));
                    }
                }
            });

            // Here we need to send post data to PHP from javascript with the new order of list
            list_order = sort.toArray();
            for (index = 0; index < list_order.length; index++) {

                // need to add to http post request here one items new place
                // then send http request out of for loop
                // also need to make sure its updating
                // and need a button to submit new order
                // new_orders[index] = list_order[index];
            }
            printSpan.innerHTML = new_orders;


            // printSpan.innerHTML = sort.toArray();

        </script>

            ((re order steps form))

        </div>
    </body>
</html>
