<html>
    <head>
        <title>{{ project.getName }} Complete!</title>
    </head>
    <body>
        <h1>Hey great job you just finished the last step of {{ project.getName }}!!</h1>

        ((insert balloons, pinatas, fiesta here))
        <a href="/dashboard">Go back to the dashboard</a>
    </body>
</html>
